body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 180, 86)
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    background-color:  rgba(152, 28, 240, 0.9);
  }

  .contact-form {
    flex: 1;
    padding: 20px;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
  }

  .map-address {
    flex: 1;
    padding: 20px;
    background-color:  blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
  }

  .hours-operation {
    flex: 1;
    padding: 20px;
    background-color:  blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    m
  }

  .form-input {
    margin-bottom: 10 px;
  }

  .form-input label {
    display: block;
    font-weight: bold;
  }

  .form-input input,
  .form-input textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-input textarea {
    resize: vertical;
  }

  .form-submit {
    text-align: center;
  }

  .form-submit button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }